Click==7.1.2
Flask==2.0.0
h5py==2.10.0
itsdangerous==2.0.1
Jinja2==3.0.1
tensorflow
MarkupSafe==2.0.1
numpy
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
scipy
six==1.15.0
Werkzeug==2.0.1
scikit-learn
gradio
fastapi
type-extensions